{% extends "hello/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<body>

  <div class="content-section">
    {% for entry in client_entry %}
    {% buttons %}
    <a href="{% url 'addform' slug=entry.slug %}"><button>{% bootstrap_icon "plus" %} Add Form</button></a>
    {% endbuttons %}
    {% buttons %}
    <a href="{% url 'deleteform' slug=entry.slug %}"><button>{% bootstrap_icon "minus" %} Delete Form</button></a>
    {% endbuttons %}
    <form method="POST">
      {% csrf_token %}
      {{ form }}

    </form>
    <a class="nav-item nav-link" href="{% url 'upload_document' slug=entry.slug %}">Upload Document</a>
    <div class="media">
      <img src="/media/{{entry.image}}" class="rounded-circle account-img" />
      <div class="media-body">
        <h2 class="account-heading">{{ entry.first_Name }}</h2>
        <p class="text-secondary">{{ entry.client_Intake_Date}}</p>

      </div>
      {% for app in formlist %}
      {% buttons %}
      <a class="nav-item nav-link" href="{% url 'deleteformdone' slug1=entry.slug slug2=app.slug%}"><button>
          {% bootstrap_icon "trash" %} {{app.application_Name}}</button></a>
      {% endbuttons %}
      {% endfor %}
      {% endfor %}
    </div>



</body>
{% endblock %}