<!-- 
BOILERPLATE:
    <div>
        <div id="nav-placeholder">
        </div>
        <script>
            $(function(){
            $("#nav-placeholder").load("../components/sidebar.html");
            });
        </script>
    </div> 
-->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="sidebar 
                is-narrow-mobile 
                is-fullheight 
                section 
                is-hidden-mobile 
                has-background-light">

        <ul class="">
            <li>
                <a class="icon logo" href="../index.html">
                    <img src="../assets/logoBlue.png">
                </a>
            </li>
            <li>
                <a class="icon sidebar-icon" href="../pages/profile.html">
                    <img src="../assets/profileIcon.png">
                </a>
            </li>
            <li>
                <a class="icon sidebar-icon" href="#">
                    <img src="../assets/settingsIcon.png">
                </a>
            </li>
            <li>
                <a class="icon sidebar-icon" href="../index.html">
                    <img src="../assets/homeIcon.png">
                </a>
            </li>
        </ul>

    </div>
</body>